$colour-primary: #edf2f4;
$colour-Secondary: #8d99ae;
$colour-tertiary: #2b2d42;


$colour-white: #fff;
$colour-black: #000;

// My colours
$color-mystic: #edf2f4;
$color-bali: #8d99ae;
$color-ebony: #2b2d42;

$font-roboto: 'Roboto';
$font-bl-melody: 'BL Melody';
$font-bl-melody-mono: 'BL Melody Mono';
$font-pp-mori: 'PP Mori';

$ease-out-expo:cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes:(
  'navigation',
  'content'
);

